.modifyData {

    .header {
        background-color: white;

        .grid {
            background-color: var(--back-color);
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
    }

    .css-uz5v39-MuiGrid-root {
        margin: 0 auto;
    }

    .row {
        text-align: center;
    }

}

