.aboutContainer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 650px;
    line-height: 2rem;;
}

.aboutContainer > div > p {
    text-align: left;
    margin: 0 2rem; 
}

.aboutPic {
    width: 100px;
}
